<app-header></app-header>

<div class="container mt-3">
    <div class="row">
        
        <div class="left-side">
            <div>
                <h2 class="mat-display-1">
                    Value Your Time!
                </h2>
                <p class="mat-h2">
                    Time is not managable!, it's always the same 24 hours a day you get, so you have to keep everything organised right!, that's what Timko helps you with...
                </p>
            </div>
        </div>

        <div class="right-side">
            
            <div class="order-box">

                <!--slides that shows or disappear on indicator clicks-->
                <div class="first-slide" [@fade]="firstSlideState">
                    <div class="dinner-img">
                    <img src="./../../../assets/images/home1.svg" alt="Table" title="Hang Out">
                    </div>
                    <p class="qoute p-2">
                        Working with your projects never been easy, you get a seamless experience working with evey task.
                    </p>
                </div>
        
                <div class="second-slide" [@fade]="secondSlideState">
                    <div class="dinner-img">
                    <img src="./../../../assets/images/home2.svg" alt="Table" title="Hang Out">
                    </div>
                    <p class="qoute p-2">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti earum ratione qui suscipit modi, fuga id soluta ad nulla accusantium!
                    </p>
                </div>
        
                <div class="third-slide" [@fade]="thirdSlideState">
                    <div class="dinner-img">
                    <img src="./../../../assets/images/home3.svg" alt="Table" title="Hang Out">
                    </div>
                    <p class="qoute p-2">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error quibusdam aperiam at expedita magni magnam delectus molestias natus. Iste, quasi?
                    </p>
                </div>
                
                <!--after div holding indicators-->
                <div class="after">
                    <div class="indicator activeIndicator" #firstIndicator (click)="showFirstSlide(firstIndicator)">
        
                    </div>
                    <div class="indicator" #secondIndicator (click)="showSecondSlide(secondIndicator)">
        
                    </div>
                    <div class="indicator" #thirdIndicator (click)="showThirdSlide(thirdIndicator)">
                    
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>