@import './../../../assets/css/variables.scss';

.row {
    .left-side {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .right-side {
        width: 50%;

        .order-box {
            position: relative;
            box-shadow: 15px 15px 15px 0px rgba(173,173,173,0.66);
            border-radius: 2px;
            height: 500px;
            border: 1px solid #CCC;
            background-color: #FFF;
            border-radius: 5px;

            .first-slide, .second-slide, .third-slide {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .after {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 35px;
                position: absolute;
                top: 98%;
                left: 50%;
                margin-left: -75px;
                box-shadow: 10px 15px 15px 0px rgba(173,173,173,0.66);
                border-radius: 0 0 20px 20px;
                background-color: #FFF;
            }

            .indicator {
                width: 10px;
                height: 10px;
                background-color: #888;
                border-radius: 50%;
                margin: 10px;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }

            .activeIndicator {
                transform: scale(1.5);
                background-color: $primary;
            }

            //fitting image
            .dinner-img {
                width: 100%;
                height: 350px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .qoute {
                font-size: 1.2rem;
                color: #555;
                margin-top: 10px;
            }
        }
    }
}