<section class="row mt-5">
  <div class="active-tasks">

    <mat-card class="task-card">
      <mat-card-header>
        <mat-card-title>Active Tasks</mat-card-title>
        <mat-card-subtitle>
          The world is changing very fast. Big will not beat small anymore. It will be the fast beating the slow.
        </mat-card-subtitle>
      </mat-card-header>
       
      <!--<img mat-card-image
        class="card-header"
        src="./../../../assets/images/active-tasks-header.svg"
        alt="Active Tasks"
        title="Active Tasks"
      /> -->

      <mat-card-content>

        <form class="add-task-form" #addTaskFrom="ngForm">
          <mat-form-field class="mt-2">
            <mat-select placeholder="Select Project"
              name="project"
              #project="ngModel"
              ngModel
              required
              (selectionChange)="selectProjectFromActive($event)">
              
              <mat-option disabled *ngIf="projects.length == 0 && noData == false">
                Loading projects please wait ...
              </mat-option>

              <mat-option disabled *ngIf="projects.length == 0 && noData == true">
                No projects yet, please add some
              </mat-option>

              <mat-option *ngFor="let project of projects; index as i" [value]="i">
                {{project.title}}
              </mat-option>

            </mat-select>

            <mat-error *ngIf="project.touched && project.errors?.required">
              Project is required
            </mat-error>
          </mat-form-field>

          <mat-form-field class="mt-2">
            <mat-select placeholder="Select Task"
              (selectionChange)="selectTaskFromActive($event)"
              name="task"
              #task="ngModel"
              ngModel
              required>
  
              <mat-option disabled *ngIf="!selectedProjInd && selectedProjInd != 0">
                Please select a project first
              </mat-option>

              <mat-option *ngFor="let task of projects[selectedProjInd]?.tasks; index as o" 
                [value]="o" [disabled]="task.current || task.done">
                  {{task.task}}
              </mat-option>
  
            </mat-select>

            <mat-error *ngIf="task.touched && task.errors?.required">
              Task is required
            </mat-error>
          </mat-form-field>

          <div class="add-task-btn">
            <!--add task to active tasks = mark current as true in the project.tasks[taskInd]-->
            <button mat-flat-button color="accent"
              title="Add task to active"
              [disabled]="addTaskFrom.invalid || busyAddingActiveTask"
              (click)="addTaskToActiveTasks()">
              
              <img src="./../../../assets/images/loader.svg"
                *ngIf="busyAddingActiveTask"
                alt="Loading ..."
                title="Loading ..."
                class="btn-loader"
              />
              
              ADD
            </button>
          </div>

        </form>

        <mat-divider></mat-divider>

        <div class="active-tasks-box">

          <div *ngIf="projects.length != 0">

            <div *ngFor="let project of projects; index as projectIndex">
              
              <div [@tasksEnter] class="active-task" *ngFor="let task of project.tasks; index as taskIndex"
                [ngClass]="{'done': task.done}"
                [style.display]="task.current? 'block': 'none'">
  
                <span class="active-task-line"
                  [ngClass]="{'deleting-task': busyDeletingActiveTask}">
  
                  <i class="icon-bin" [swal]="ConfirmDelete"
                    title="Delete task from active"
                    (confirm)="deleteTaskFromActiveTasks(projectIndex, taskIndex)"
                    (cancel)="handleCancelDeletingActiveTask($event)">
                  </i>
  
                  <div class="active-task-text">
                    <p class="active-task-project-title" title="Project Title">
                      {{project.title}}
                    </p>
    
                    <p class="mat-body-1 active-task-task"
                      color="accent"
                      labelPosition="before">
                      {{task.task}}
                    </p>

                    <div class="time-badge" *ngIf="task.time">
                      <i class="icon-alarm"></i>
                      <small>
                        {{task.time}}
                      </small>
                    </div>
                  </div>

                  <div class="complete-btn">
                    <button mat-flat-button color="accent"
                      title="Set task as completed"
                      [disabled]="busySettingTaskComplete"
                      (click)="setTaskAsDone(projectIndex, taskIndex)">

                      <img src="./../../../assets/images/loader.svg"
                        *ngIf="busySettingTaskComplete"
                        alt="Loading ..."
                        title="Loading ..."
                        class="btn-loader"
                      />

                      Complete
                    </button>
                  </div>
  
                </span>
                
                <mat-divider></mat-divider>
              </div>
            </div>
  
          </div>
  
          <div *ngIf="projects.length == 0 && noData == false">
            <img src="./../../../assets/images/loader.svg"
              class="loader"
              alt="Loading ..."
              title="Loading ..."
            />
          </div>
        </div>

      </mat-card-content>
    </mat-card>    
    
  </div>

  <div class="projects">
    <h2 class="mat-h2">
      All Projects
    </h2>

    <div *ngIf="projects.length != 0">
      <mat-card class="project-card" *ngFor="let project of projects; index as projectCardI">

        <i class="icon-list-menu" [matMenuTriggerFor]="menu"></i>

        <mat-menu #menu="matMenu">
          <button mat-menu-item
            routerLink="/admin/edit-project/{{project.id}}">
            <i class="icon-cog"></i>
            Edit Project
          </button>
          <button mat-menu-item
            [disabled]="busyClosingProject"
            (click)="closeProject(project.id)">
            <i class="icon-lock"></i>
            Close Project
          </button>
        </mat-menu>

        <mat-card-header>
          <mat-card-title>{{project.title}}</mat-card-title>
          <mat-card-subtitle>{{project.description}}</mat-card-subtitle>
        </mat-card-header>
  
        <mat-divider></mat-divider>
  
        <mat-card-content>
  
          <form class="new-task-box" #projectTaskFrom="ngForm">
            <mat-form-field class="mt-2">
              <input type="text"
                matInput 
                placeholder="New Task"
                name="new-task-btn"
                #newTask="ngModel"
                ngModel
                required
                (click)="$event.target.select()"
              />
              <!--complete the add task to project method -->
              <mat-error *ngIf="newTask.touched && newTask.errors?.required">
                Task is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="mt-2 new-task-duration">
              <input type="number"
                matInput
                placeholder="Duration"
                name="duration"
                #duration="ngModel"
                ngModel
                (click)="$event.target.select()"
              />
            </mat-form-field>

            <mat-form-field class="mt-2 new-task-unit">
              <mat-select placeholder="Unit"
                name="unit"
                #unit="ngModel"
                ngModel>
  
                <mat-option value="null">None</mat-option>
                <mat-option value="Minute">Minute</mat-option>
                <mat-option value="Hour">Hour</mat-option>
                <mat-option value="Day">Day</mat-option>
                <mat-option value="Infinity">Infinity</mat-option>
  
              </mat-select>
            </mat-form-field>
  
            <div class="add-task-btn">
              <button mat-flat-button color="accent"
                [disabled]="projectTaskFrom.invalid || busyAddingNewProjectTask"
                (click)="addNewTaskToProject(newTask, duration, unit,projectCardI)">

                <img src="./../../../assets/images/loader.svg"
                  *ngIf="busyAddingNewProjectTask"
                  alt="Loading ..."
                  title="Loading ..."
                  class="btn-loader"
                />

                ADD
              </button>
            </div>
          </form>

          <br>
          <mat-divider></mat-divider>

          <div class="project-tasks-list">
            
            <div class="project-list-item" *ngFor="let task of project.tasks">
              <p class="project-task-text"
                [ngClass]="{'completed-task': task.done}">
                {{task.task}}
              </p>
              <small class="active-badge" title="Active" *ngIf="task.current">
                <i class="icon-clock"></i>
              </small>
              <small class="completed-badge" title="Completed" *ngIf="task.done">
                <i class="icon-checkmark"></i>
              </small>
              <small class="holding-badge" title="Completed" *ngIf="!task.done && !task.current">
                <i class="icon-calendar"></i>
              </small>
            </div>
  
          </div>
          
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
    </div>

   <div class="text-center mt-3" *ngIf="projects.length == 0 && noData == false">
      <img src="./../../../assets/images/loader.svg"
        class="loader"
        alt="Loading ..."
        title="Loading ..."
      />
    </div>

    <div class="text-center mt-3" *ngIf="projects.length == 0 && noData == true">
      <p>{{displayedMsg}}</p>
    </div>
    

  </div>
  
</section>

<swal #ConfirmDelete
  title="Are you sure?"
  text="do you realy want to delete this task"
  type="question"
  [showCancelButton]="true"
  confirmButtonText="Confirm"
  confirmButtonColor="#c71212">

</swal>