@import './../../../assets/css/variables.scss';

.active-tasks {
    width: 100%;
    padding: 10px;

    .task-card {
        mat-card-content {
            display: flex;
            flex-wrap: wrap;
    
            .add-task-form {
                width: 33%;
                padding: 10px;
                border: 1px solid #DDD;
                border-radius: 5px;
                margin: 1%;

                @media screen and (max-width: 992px) {
                    width: 100%;
                }
    
                .add-task-btn {
                    margin-top: 10px;
                    display: flex;
                    justify-content: flex-end;
                }
            }

            .active-tasks-box {
                padding: 10px;
                width: 63%;
                border: 1px solid #DDD;
                border-radius: 5px;
                margin: 1%;
                text-align: center;

                @media screen and (max-width: 992px) {
                    width: 100%;
                }

                .tasks-holder {
                    max-height: 320px;
                    overflow: auto;

                    .active-task {
                        position: relative;
                        min-width: 600px;
            
                        .deleting-task {
                            &:hover {
                                .icon-bin {
                                    opacity: 0 !important;
                                    transform: translateX(5px) !important;
                                }
                            }
                        }
            
                        .active-task-line {
                            display: flex;
                            align-items: center;
                            padding: 12px 0;
                            font-size: 16px;
            
                            &:hover {
                                .icon-bin {
                                    opacity: 1;
                                    transform: translateX(0);
                                }
                            }
            
                            .icon-bin {
                                display: inline-block;
                                color: $warn;
                                opacity: 0;
                                transform: translateX(5px);
                                transition: all 0.3s ease-in-out;
                                width: 2%;
                            
                                &:hover {
                                    cursor: pointer;
                                    color: #333;
                                }
                            }
    
                            .active-task-text {
                                width: 78%;
                                margin: 0 1%;
                                text-align: left;
                                display: flex;
                                align-items: center;
    
                                .active-task-project-title {
                                    margin: 0 10px;
                                    background-color: $primary;
                                    border-radius: 4px;
                                    padding: 5px;
                                    color: #FFF;
                                    display: inline-block;
                                }
    
                                .active-task-task {
                                    display: inline-block;
                                    margin: 0;
                                }
    
                                .time-badge {
                                    margin-left: auto;
                                    display: inline-flex;
                                    align-items: center;
                                    border: 1px solid #DDD;
                                    border-radius: 2px;
                                    padding: 4px;
    
                                    small {
                                        margin-left: 2px;
                                    }
                                }
                            }
    
                            .complete-btn {
                                width: 18%;

                                .btn-loader {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        mat-card-actions {
            text-align: right;
        }
    }
}

.projects {
    width: 100%;
    padding: 10px;
    margin-top: 10px;

    app-projects-viewer {
        width: 100%;
        display: flex;
    }
}

.selected {
    color: red !important;
}