<section class="row mt-5">
  <div class="active-tasks">

    <mat-card class="task-card">
      <mat-card-header>
        <mat-card-title>Active Tasks</mat-card-title>
        <mat-card-subtitle>
          The world is changing very fast. Big will not beat small anymore. It will be the fast beating the slow.
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <form class="add-task-form" #addTaskFrom="ngForm">
          <mat-form-field class="mt-2">
            <mat-select placeholder="Select Project"
              name="project"
              #project="ngModel"
              ngModel
              required
              (selectionChange)="selectProjectFromActive($event)">
              
              <mat-option disabled *ngIf="projects.length == 0 && noData == false">
                Loading projects please wait ...
              </mat-option>

              <mat-option disabled *ngIf="projects.length == 0 && noData == true">
                No projects yet, please add some
              </mat-option>

              <mat-option *ngFor="let project of projects; index as i" [value]="i" [matTooltip]="project.title">
                {{project.title}}
              </mat-option>

            </mat-select>

            <mat-error *ngIf="project.touched && project.errors?.required">
              Project is required
            </mat-error>
          </mat-form-field>

          <mat-form-field class="mt-2">
            <mat-select placeholder="Select Task"
              (selectionChange)="selectTaskFromActive($event)"
              name="task"
              #task="ngModel"
              ngModel
              required>
  
              <mat-option disabled *ngIf="!selectedProjInd && selectedProjInd != 0">
                Please select a project first
              </mat-option>

              <mat-option *ngFor="let task of projects[selectedProjInd]?.tasks; index as o" 
                [value]="o" [disabled]="task.status != statuses.holding"
                [matTooltip]="task.task">
                {{task.task}}
              </mat-option>
  
            </mat-select>

            <mat-error *ngIf="task.touched && task.errors?.required">
              Task is required
            </mat-error>
          </mat-form-field>

          <div class="add-task-btn">
            <!--add task to active tasks = mark current as true in the project.tasks[taskInd]-->
            <button mat-flat-button color="accent"
              matTooltip="Add task to active"
              [disabled]="addTaskFrom.invalid || busyAddingActiveTask"
              (click)="addTaskToActiveTasks()">
              
              <img src="./../../../assets/images/loader.svg"
                *ngIf="busyAddingActiveTask"
                alt="Loading ..."
                title="Loading ..."
                class="btn-loader"
              />
              
              ADD
            </button>
          </div>

        </form>

        <mat-divider></mat-divider>

        <div class="active-tasks-box">

          <div *ngIf="projects.length != 0">

            <div class="tasks-holder" *ngFor="let project of projects; index as projectIndex">
              
              <div [@tasksEnter] class="active-task" *ngFor="let task of project.tasks; index as taskIndex"
                [ngClass]="{'done': task.status == statuses.completed}"
                [style.display]="task.status == statuses.current ? 'block': 'none'">
  
                <span class="active-task-line"
                  [ngClass]="{'deleting-task': busyDeletingActiveTask}">
  
                  <i class="icon-bin" [swal]="ConfirmDelete"
                    matTooltip="Delete task from active"
                    (confirm)="deleteTaskFromActiveTasks(projectIndex, taskIndex)"
                    (cancel)="handleCancelDeletingActiveTask($event)">
                  </i>
  
                  <div class="active-task-text">
                    <p class="active-task-project-title" [matTooltip]="project.title">
                      {{project.title.length > 10 ? project.title.slice(0, 10)+'...' : project.title}}
                    </p>
    
                    <p class="mat-body-1 active-task-task"
                      color="accent"
                      labelPosition="before"
                      [matTooltip]="task.task">
                      {{task.task.length > 35 ? task.task.slice(0, 35)+'...' : task.task}}
                    </p>

                    <div class="time-badge" *ngIf="task.time && task.time != ' '">
                      <i class="icon-alarm"></i>
                      <small>
                        {{task.time}}
                      </small>
                    </div>
                  </div>

                  <div class="complete-btn">
                    <button mat-flat-button color="accent"
                      matTooltip="Set task as completed"
                      [disabled]="busySettingTaskComplete"
                      (click)="setTaskAsDone(projectIndex, taskIndex, loader)">

                      <img src="./../../../assets/images/loader.svg"
                        #loader
                        alt="Loading ..."
                        title="Loading ..."
                        class="btn-loader"
                      />

                      Complete
                    </button>
                  </div>
  
                </span>
                
                <mat-divider></mat-divider>
              </div>
            </div>
  
          </div>
  
          <div *ngIf="projects.length == 0 && noData == false">
            <img src="./../../../assets/images/loader.svg"
              class="loader"
              alt="Loading ..."
              title="Loading ..."
            />
          </div>
        </div>

      </mat-card-content>
    </mat-card>    
    
  </div>

  <div class="projects">
    <h2 class="mat-h2">
      All Projects
    </h2>

    <div class="w-100" *ngIf="projects.length != 0">
      <app-projects-viewer [projects]="projects"
        (reset)="reset()"
        (getProjects)="getAllProjects('all')">
      </app-projects-viewer>
    </div>

   <div class="text-center mt-3" *ngIf="projects.length == 0 && noData == false">
      <img src="./../../../assets/images/loader.svg"
        class="loader"
        alt="Loading ..."
        title="Loading ..."
      />
    </div>

    <div class="text-center mt-3" *ngIf="projects.length == 0 && noData == true">
      <p>{{displayedMsg}}</p>
    </div>
    

  </div>
  
</section>

<swal #ConfirmDelete
  title="Are you sure?"
  text="do you realy want to delete this task from active tasks"
  type="question"
  [showCancelButton]="true"
  confirmButtonText="Confirm"
  confirmButtonColor="#c71212">

</swal>