.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.user, .not-logged-in {
  margin-left: auto;
  padding: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-pic {
  width: 45px;
  height: 45px;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid #FFF;
  margin-right: 10px;
}

.user-name:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* 
.icon-circle-down {
  padding: 2px;
} */

/*mail verfication*/
/* .not-verfied {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.icon-info {
  position: absolute;
  right: 0;
  top: 0;
  color: #f84848;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.icon-info:hover {
  cursor: pointer;
  color: #FFF;
}

.icon-info:hover + .message {
  right: 40px;
}

.message {
  background: #FFF;
  border: 1px solid #DDD;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  right: -120%;
  transition: all 0.3s ease-in-out;
  z-index: 1;
} */