<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      mode="over"
      opened="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home" (click)="drawer.close()">
        Home
      </a>
      <a mat-list-item routerLink="admin/tasks"
        (click)="drawer.close()"
        *ngIf="isLoggedIn">
        My Tasks
      </a>
      <a mat-list-item routerLink="admin/projects"
        (click)="drawer.close()"
        *ngIf="isLoggedIn">
        All Projects
      </a>
      <a mat-list-item routerLink="admin/create-project"
        (click)="drawer.close()"
        *ngIf="isLoggedIn">
        Create Project
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="app-name">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Time Management</span>
      </div>

      <div class="user" *ngIf="user">
        <img class="user-pic"
          [src]="user.photoURL"
          [alt]="user.displayName"
          [title]="user.displayName"
        />
        <h2 class="user-name" mat-button [matMenuTriggerFor]="menu">
          {{user.displayName}}
          <i class="icon-circle-down"></i>
        </h2>

        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="admin/profile">
            Profile
          </button>
          <button mat-menu-item (click)="logOut()">
            Log Out
          </button>
        </mat-menu>
        
      </div>

      <div *ngIf="!isLoggedIn" class="not-logged-in">
        <button class="m-1" mat-raised-button
          routerLink="login"
          style="margin-left: auto !important">
          LOG IN
        </button>
        <button class="m-1" mat-raised-button
          routerLink="register">
          REGISTER
        </button>
      </div>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>


<!-- mail verfication 
<div class="not-verfied" *ngIf="">

  <i class="icon-info"></i>

  <div class="message">
    Please Verify Your Email
  </div>

</div> -->