<section class="row mt-5">
  <h2 class="w-100 mat-h2">Edit Task</h2>

  <mat-form-field class="w-100">
    <input type="text" matInput
      placeholder="Type edited task"
      name="editedTask"
      #editedTask="ngModel"
      [(ngModel)]="task.task"
    />
  </mat-form-field>

  <div class="w-100" style="display: flex">
    <mat-form-field>
      <input type="number"
        matInput
        placeholder="Duration"
        name="durationT"
        #durationT="ngModel"
        [(ngModel)]="task.duration"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Unit"
        name="taskUnit"
        #taskUnit="ngModel"
        [(ngModel)]="task.unit">

        <mat-option value="null">None</mat-option>
        <mat-option value="Minute">Minute</mat-option>
        <mat-option value="Hour">Hour</mat-option>
        <mat-option value="Day">Day</mat-option>
        <mat-option value="Month">Month</mat-option>
        <mat-option value="Year">Year</mat-option>

      </mat-select>
    </mat-form-field>
  </div>

  <div class="w-100 text-center">
    <button class="m-1"
      mat-raised-button
      color="primary"
      [disabled]="busySaving"
      (click)="save()">

      <img src="./../../../../assets/images/loader.svg"
        *ngIf="busySaving"
        alt="Loading ..."
        title="Loading ..."
        class="btn-loader add-to-active-loader"
      />

      Save
    </button>

    <button class="m-1"
      mat-raised-button
      color="warn"
      (click)="cancel()">
      
      Cancel
    </button>
  </div>
</section>