@import './../../../../assets/css/variables.scss';

.project-card {
    width: 360px;
    margin: 5px;
    position: relative;

    .icon-list-menu {
        position: absolute;
        right: 8px;
        top: 8px;
        color: #333;

        &:hover {
            color: #999;
            cursor: pointer;
        }
    }

    .new-task-box {
        display: flex;
        flex-wrap: wrap;

        .new-task-duration, .new-task-unit {
            width: 50%;
        }

        .add-task-btn {
            width: 100%;
            text-align: right;

            .btn-loader {
                display: none;
            }
        }
    }

    .project-tasks-list {
        margin-top: 10px;
        max-height: 300px;
        overflow: auto;
        padding: 5px;

        .project-list-item {

            mat-expansion-panel-header {
                position: relative;
                
                .project-task-text {
                    display: inline-block;
                    margin: 0;
                    padding-left: 5px;
                }
    
                .completed-badge {
                    background-color: $accent;
                }
    
                .active-badge {
                    background-color: $primary;
                }
    
                .holding-badge {
                    background-color: $third;
                }
    
                .active-badge, .completed-badge, .holding-badge {
                    color: #FFF;
                    border-radius: 3px;
                    padding: 3px;
                    display: inline-flex;
                    position: absolute;
                    left: 4px;
                    
                    .icon-clock, .icon-checkmark, .icon-calendar {
                        font-size: 16px;
                    }
                }
            }

            .action-btns {
                .add-to-active-loader {
                    display: none;
                }
                .cancel-loader {
                    display: none;
                }
            }
        }

        .completed-task {
            text-decoration: line-through;
        }
    }
}